@charset "UTF-8";
/* CSS Document */
body{background-color:#e6e6e6;font-family:Arial, Helvetica, sans-serif;font-size:16px;color:#9fa0a0;overflow-y:scroll;}
*{margin:0px; padding:0px; outline:none; border:none;line-height:1.2em;}
#wrapper{margin:0 auto;width:960px;}
#header{float:left;background:url(/images/header.jpg);height:350px;width:960px;position:relative;}

.box a{color:#4DB7E9;border-bottom:1px dotted #4DB7E9;text-decoration:none;}
.box a:hover{border:none;border-bottom:2px dotted #4DB7E9;}

.message{margin:10px 0;padding:15px;background:#ffdfdf;color:#922828;text-align:center;border-bottom:1px solid #922828;border-right:1px solid #922828;-moz-border-radius:10px;-webkit-border-radius:10px;}
.ajaxloader{width:100%;text-align:center;margin:20px;}

#headerLeft{float:left;width:2000px;position:absolute;top:0;left:-2000px;background:url(/images/headerBG.png) repeat-x 0 0;height:100%;}
#logo{position:absolute;top:90px;left:60px;}
#logo a{display:block;width:380px;height:75px;text-indent:-2000px;}
#scrollbarFix{position:absolute;bottom:-1px;right:0px;width:100px;height:10px;}

#analyzeForm{float:left;display:inline;margin:265px 0 0 90px;height:75px;width:675px;}
/* 3387b6 */
#analyzeForm .inputURL{background-color:transparent;color:#d7f1ff;font-size:28px;padding:20px 0 0;width:450px;text-shadow:1px 2px 4px #114969;font-family:arial;height:50px;float:left;display:inline;}
#analyzeForm .inputURL.dimmed{text-shadow:none;color:#3387b6;}
#analyzeForm a.submitButton{float:right;display:inline;width:170px;height:73px;background:transparent url(/images/analizeButtonSp.png) no-repeat 0 -73px;text-indent:-2500px;margin:0 30px 0 0;}
#analyzeForm a.submitButton:hover{background-position:0 0;}

#content{width:915px;background:url(/images/contentBG.png) repeat-y top right;float:left;padding:40px 25px 15px 15px;position:relative;clear:both;}
#contentLeft{float:left;width:2000px;position:absolute;top:0;left:-2000px;background-color:#FFF;height:100%;}

.box{float:left;width:100%;margin:0 0 20px;}
.box h2{color:#4db7e9;width:100%;border-bottom:2px solid #4DB7E9;margin:0 0 12px;font-weight:normal;}
.box h2 span{float:left;}
.box h2 span img{margin:1px 10px 0 0;-moz-border-radius-topleft:7px;-moz-border-radius-topright:7px;-webkit-border-top-left-radius:7px;-webkit-border-top-right-radius:7px;background-color:#4DB7E9;padding:6px;}
.boxContent img{vertical-align:middle;margin:-1px 10px 0 0;background-color:#FFF;padding:0px;}
.box .boxContent{width:100%}
.imagesContainer{float:left;padding:10px 0;}
.boxImages h2{margin:0px;}
.boxImages .imagesContainer img{border:2px solid #4DB7E9;border-bottom:2px solid #4DB7E9;background-color:#FFF;padding:2px;margin:4px;width:136px;float:left;}
.boxImages .imagesContainer a:hover img{border:2px solid #a3a3a3;}
.boxImages .imagesContainer a{border:none;}
.boxImages .imagesButts{float:left;width:100%;clear:both;-moz-border-radius:10px;-webkit-border-radius:10px;margin:10px 0 0;}
.boxImages .imagesButts a{background-color:#4db7e9;color:#FFF;padding:4px 15px;font-size:0.9em;text-decoration:none;-moz-border-radius:10px;-webkit-border-radius:10px;margin:0 5px;border-color:#83CFF8 #2676A2 #2676A2 #83CFF8;border-style:solid;border-width:1px;}
.boxImages .imagesButts a:hover{background-color:#FFF;color:#4db7e9;}
.prevButt{float:left;}
.nextButt{float:right;}

#footer{background:url(/images/footer.jpg);height:74px;float:left;width:100%;position:relative;color:#FFF;clear:both;}
#footerLeft{float:left;width:2000px;position:absolute;top:0;left:-2000px;background:url(/images/footerBG.png) repeat-x 0 0;height:100%;}
#footer span{float:left;margin:35px 20px 0;text-shadow:0px 1px 2px #114969;}
#footer span.espace{margin:31px 30px 0;float:right;}
#footer span.espace img{position:relative;top:5px;left:5px;}

#footerTail{height:100px;background: url(/images/contentBG.png) repeat-y top right;float:left;width:955px;position:relative;text-align:center;}
#footerTail span.neverblock{float:left;width:100%;text-align:center;margin:25px 0 0 0;} 
#footerTail span.neverblock img{left:0;position:relative;top:9px;}

.showHideButton{float:right;text-indent:-2000px;width:62px;height:40px;background:url(/images/showhideButton.png) no-repeat 0 0;margin:282px 50px 0 0;}
.showHideButton.show{background-position:0 -40px;}
.showHideButton.hide{background-position:0 -120px;}
.showHideButton.show:hover{background-position:0 0;}
.showHideButton.hide:hover{background-position:0 -80px;}

.homeButton{float:right;text-indent:-2000px;width:62px;height:40px;background:url(/images/homeButton.png) no-repeat 0 0;margin:282px 10px 0 0;}
.homeButton:hover{background-position:0 -40px;}
